.boxTitleComment{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 32px 32px;
    margin-bottom: 35px;
  
    .commentTitleContainer{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 20px;
    }
  
    .commentDescriptionContainer{
      margin-top: 30px;
    }
  }